NEXT_PUBLIC_TREASURY_CONTRACT_ID=CBGEM54EBBD2J6MLMR6DDFUO6UZBZMVL2YL4C2PSFNVA6BXQWA4CRSVY
NEXT_PUBLIC_VOTE_TOKEN_CONTRACT_ID=CDHIRXDOA66YHN64AEJJDRJB7TRIL7YWBEB24V5V4YRGF4DT4GVYLSSF
NEXT_PUBLIC_ADMIN_ADDRESSES=YOUR_STELLAR_TESTNET_ADDRESS_HERE
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org
